# sdk
git+https://github.com/certego/django-rest-client.git@f93ccc2333cd71056f167e7f27115e89c46fda6d#egg=django_rest_client
typing_extensions
dataclasses; python_version < '3.7'
# cli
click>=7.0
rich~=10.12
click-creds~=0.0.3